html {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-size: 100% auto;
    word-wrap: break-word;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    perspective: 500px;
    -webkit-perspective: 500px;

    font-family: 'Noto Sans', Georgia, serif;
}

canvas, img {
    display: inline;
    margin: 0;
    padding: 0;
    -ms-interpolation-mode: nearest-neighbor;
    pointer-events: auto;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

canvas {
    margin: auto;
    border: dashed 1px rgba(0, 0, 0, 0.1);

    cursor: crosshair;
}

#canvas {
    z-index: 0;
}

#persistent-canvas {
    position: absolute;
    top: 0;
    z-index: -2;
    border: solid 1px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

#fade-canvas {
    position: absolute;
    top: 0;
    z-index: 1;
    border: dotted 1px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    mix-blend-mode: screen;
}

#lighting-canvas {
    position: absolute;
    top: 0;
    z-index: 2;
    border: dotted 1px rgba(127, 127, 0, 0.1);
    pointer-events: none;
    mix-blend-mode: overlay;
    opacity: 0.33;
}

.container {
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    -webkit-transform: translate3d(0px, 0px, -500px) scale(2);
    /* Hack to fix Chrome issue where 3D transforms would put the UI behind the body
    causing it to have */
    pointer-events: none;

    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    perspective: 500px;
    -webkit-perspective: 500px;
}

.template {
    display: none;
}

.upgrade {
    margin: 0.5rem 0;

    padding: 1rem;
    background-color: #555;
    font-size: 1rem;

    opacity: 0.8;

    flex-shrink: 0;

    pointer-events: none;
}

.active-upgrade {
    background-color: #ccc;
    order: -2;

    pointer-events: auto;
}

.active-upgrade:hover {
    background-color: #ddd;
    opacity: 1;
}

.active-upgrade:active {
    background-color: #ccc;
}

.active-upgrade.lame-upgrade {
    order: -1;
}

.active-upgrade.important-upgrade {
    order: -100;
}

.upgrade-name {
    font-size: 1.6rem;
}

.upgrade-cost {
    font-variant: small-caps;
    font-size: 1.2rem;
}

.upgrade-effect {
    font-style: italic;
    font-size: 1.2em;
}

.upgrade-flavour {
    font-family: 'Noto Serif', serif;
    text-align: right;
    font-style: italic;
    font-size: 1rem;
}

.upgrade-highlight.active-upgrade {
    background-color: #ECDC25;
}

.upgrade-highlight.active-upgrade:hover {
    background-color: #C5790C;
}

.upgrade-highlight.active-upgrade::before {
    content: 'Most popular!';
    background-color: #F04618;
    color: white;
    padding: 0.2rem;
}

.upgrades {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 1rem;
    height: 100%;
    pointer-events: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loading, .paused {
    font-family: 'Megrim', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 9.6rem;
    // box-shadow: inset 0 0 20vh #000;
    text-shadow: 1em 1em 2em black, 0 0 1em black, 0 0 0.2em black;
}

.paused {
    color: white;
    display: none;
}

.loading {
    background-color: rgba(0, 0, 0, 0.7);
}

.pause-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.paused-subtitle {
    font-size: 2.8rem;
    font-family: 'Noto Sans', sans-serif;
}

.key {
    border-radius: 0.5rem;
    border: 0.2rem #333 solid;
    padding: 0.2rem 0.4rem;
}

.key-white {
    border: 0.2rem #ddd solid;
}

.button {
    margin: 0.5rem 0;
    padding: 1rem;
    cursor: pointer;
    transition: margin 0.1s, padding 0.1s, background-color 0.3s;
    transition-timing: ease-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0 #999;
    cursor: pointer;
    transition: margin 0.1s, padding 0.1s;
}

.button:active {
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    padding: 1rem 0.8rem 1rem 1.2rem;
    box-shadow: inset 0.7rem 0.7rem 0.3rem 0 rgba(0, 0, 0, 0.3);
    transition-timing: ease-in;
}

.ready-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-logo {
    font-family: 'Megrim', sans-serif;
    font-size: 9.6rem;
    color: #fff;
    text-shadow: #969696 1px 3px 0, #aba8a8 1px 13px 5px;
    letter-spacing: 1rem;
}

.ready-button-wrap {
    margin-top: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ready-button {
    display: none;
    max-width: 30rem;
    width: 33%;
    background-color: rgb(77, 200, 42);
    text-align: center;
    font-size: 1.8rem;
}

.ready-button:hover {
    background-color: rgb(126, 227, 74);
}

.ready-text {
    font-size: 1.8rem;
    padding-top: 1.8rem;
    text-align: center;
}

.game-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.restart {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    width: 33%;
    background-color: rgb(25, 196, 31);
    text-align: center;
    font-size: 1.8rem;
}

.restart:hover {
    background-color: rgb(45, 216, 51);
}

.restart-text {
    color: white;
    font-size: 1.8rem;
    padding-top: 1.8rem;
    text-align: center;
    margin-bottom: 1.8rem;
}

/* UI */
.ui {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: background-color 1.5s;
    pointer-events:none;

    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.ui .column {
    flex-direction: row;
    padding: 1rem;
    height: 100%;
    pointer-events: none;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.ui .row {
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.ui .button {
    pointer-events: auto;
}

.ui .center-bar {
    pointer-events: none;
    flex-grow: 3;
}

.ui .left-bar {
    max-width: 27rem;
    flex-grow: 1;
}

.ui .right-bar {
    max-width: 27rem;
    flex-grow: 1;
}

.ui .top-bar {
    display: flex;
    min-height: 5rem;
    height: 15%;
}

.ui .middle-bar {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    pointer-events: none;
    flex-grow: 3;
}

.ui .bottom-bar {
    height: 15%;
    flex-grow: 0;
    flex-basis: 15%;
}

.game-upgrades {
    width: calc(100% - 1rem);
    opacity: 0.9;
    margin: 0 0.75rem;
}

.hero-list {
    overflow-y: auto;
    /*display: flex;*/
    /* Only lands in FF28, Chrome has it */
    /*flex-flow: row wrap;*/
    width: 100%;
    height: 100%;
    opacity: 0.9;
    direction: rtl;
}

.hero-list-item {
    display: flex;
    flex-direction: row;
    float: left;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.5rem;
    min-height: 5.5rem;
    color: #EEE;
    font-size: 1.2rem;
    direction: ltr;
}

.hero-image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.hero-left {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    /*background-color: rgba(5, 5, 25, 0.6);*/
    align-items: flex-start;
}

.hero-right {
    padding: 0.5rem;
    min-width: 7rem;
    background-color: rgba(5, 5, 25, 0.6);
}

.hero-row {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;

}

.hero-name-row {
    font-size: 1.6rem;
}

.hero-name {
    margin-right: 0.25rem;
}

.hero-level {
    margin-left: 0.25rem;
}

.hero-kills, .hero-xp, .hero-gold {
    margin-right: 0.25rem;
}

.hero-gold {
    margin-right: 0.5rem;
}

.hero-upgrade-icon {
    margin: 0 0.1rem;
    max-width: 1.6rem;
}

.speech-bubble {
    position: absolute;
    top: 100;
    left: 100;
    z-index: 1;
    padding: 1rem;
    max-width: 15rem;
    border: #777F7F solid 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFFFFF;
}

.speech-bubble:after {
    position: absolute;
    bottom: -1.2rem;
    left: 1.5rem;
    z-index: 1;
    display: block;
    width: 0;
    border-width: 1.5rem 1.5rem 0;
    border-style: solid;
    border-color: #FFFFFF transparent;
    content: '';
}

.speech-bubble:before {
    position: absolute;
    bottom: -1.9rem;
    left: 1.17rem;
    z-index: 0;
    display: block;
    width: 0;
    border-width: 1.9rem 1.9rem 0;
    border-style: solid;
    border-color: #777F7F transparent;
    content: '';
}

.speech-bubble > .text {
    min-width: 8rem;
    font-size: 1.6rem;
}

.popup {
    position: absolute;
    top: 100;
    left: 100;
    z-index: 1;
    padding: 1rem;
    max-width: 15rem;
    -webkit-border-radius: 10px;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation: 0.5s popupslidein;
}

@keyframes popupslidein {
    from { opacity: 0; transform: translateY(1rem); }
    to { opacity: 1; transform: translateY(0); }
}

.gold-popup > .gold-amount {
    font-size: 1.8rem !important;
    color: red;
}

.tax-popup > .gold-amount {
    font-size: 1.8rem !important;
    color: green  !important;
}

.speech-popup > .text {
    font-style: italic;
    color: greenyellow !important;
}

.info-box {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-text {
    font-family: 'Megrim', sans-serif;
    font-size: 2.8rem;
}

.health-amount {
    color: #c5200c;
    text-shadow: 1px 1px 0 #ecdc25, -1px -1px 0 #903e18, 1px -1px 0 #ecdc25,
            -1px 1px 0 #903e18, 3px 3px 5px #333;
}

.gold-amount {
    color: #c5790c;
    text-shadow: 1px 1px 0 #ecdc25, -1px -1px 0 #90582e, 1px -1px 0 #ecdc25,
            -1px 1px 0 #90582e, 3px 3px 5px #333;
}

.info-icon {
    margin: 0 0 0 0.2rem;
    max-height: 2.6rem;
    pointer-events: none;
}

.level-information {
    display: flex;
    font-size: 2.8rem;
    flex-grow: 20;
    justify-content: center;
    align-items: center;
    color: #AAA;
    text-shadow: 3px 3px 5px #333;
    font-family: 'Megrim', sans-serif;
}

.flash-none {
}

.flash-danger {
    box-shadow: inset 0 0 20vw #8A0202;
}

.blood-vision {
    box-shadow: inset 0 0 20vw rgba(240, 32, 0, 0.8);
}

.vignette {
    box-shadow: inset 0 0 20vw rgba(0, 0, 0, 0.9);
}

#debug {
    position: absolute;
    top: 10px;
    left: 260px;
    color: black;
    text-shadow: 1px 1px 0 #080, -1px -1px 0 #080, 1px -1px 0 #080,
            -1px 1px 0 #080, 3px 3px 5px #333;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: monospace;
    pointer-events: none;
}

#debug p {
    margin: 0;
}

#cheat {
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#cheat .button {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.2rem;
    margin: 10px;
    text-align: center;
}

.ironic {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-style: italic;
}

.github {
    pointer-events: auto;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.github > a {
    color: white;
}

.ready-text > .github > a {
    color: black;
}
