html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    word-wrap: break-word;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.upgrade {
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #555;
    font-size: 1.8rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.active-upgrade {
    transition: margin 0.1s, padding 0.1s;
    order: -1;
    background-color: #ccc;
}

.active-upgrade:hover {
    transition: margin 0.1s, padding 0.1s;
    box-shadow: 0.3rem 0.3rem 0.3rem 0 #999;
    margin: 0.2rem 0 0.8rem 0;
    background-color: #ddd;
    cursor: pointer;
}

.active-upgrade:active {
    padding: 1rem 0.8rem 1rem 1.2rem;
    box-shadow: inset 0.7rem 0.7rem 0.3rem 0 #999;
    margin: 0.7rem 0 0.3rem 0;
    background-color: #ccc;
}

.upgrade-name {

}

.upgrade-cost {
    font-size: 1.4rem;
    font-variant: small-caps;
}

.upgrade-effect {
    font-size: 1.4rem;
    font-style: italic;
}

.upgrade-flavour {
    font-size: 1.4rem;
    font-style: italic;
    text-align: right;
}

.upgrades {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    width: 30rem;
    max-width: 30%;
}