{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base/legacy",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "$": true,
    "_": true,
    "BreakLevel": true,
    "Bullet": true,
    "BulletRicochet": true,
    "BulletPing": true,
    "Cleaner": true,
    "Enemy": true,
    "EnemyCamper": true,
    "EnemyRunner": true,
    "EnemyShield": true,
    "EnemySpawner": true,
    "EnemyTank": true,
    "Entity": true,
    "Explosion": true,
    "Game": true,
    "Gunner": true,
    "keypress": true,
    "Level": true,
    "Levels": true,
    "MachineGun": true,
    "Player": true,
    "PointDefenseDrone": true,
    "Powerup": true,
    "PowerupCoin": true,
    "PowerupExplosion": true,
    "Renderer": true,
    "Sniper": true,
    "SpatialHash": true,
    "Sprites": true,
    "Tavern": true,
    "UI": true,
    "Upgrade": true,
    "Upgrades": true,
    "Util": true,
    "Weapon": true
  },
  "rules": {
    "func-names": 0,
    "key-spacing": 0,
    "max-len": [2, 140],
    "no-param-reassign": 0,
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "vars-on-top": 0,
    "global-require": 0,
    "no-plusplus": 0,
    "no-bitwise": 0,
    "prettier/prettier": "error"
  }
}
